{
  "project_info": {
    "project_number": "YOUR_FIREBASE_PROJECT_NUMBER",
    "project_id": "YOUR_FIREBASE_PROJECT_ID",
    "storage_bucket": "YOUR_FIREBASE_STORAGE_BUCKET"
  },
  "client": [],
  "configuration_version": "1"
}
